<app-navbar *ngIf="navbar"></app-navbar>
<div class="container my-5 py-3">
    <h1 class="text-center">Nosotros</h1>
    <div class="row">
        <div class="col-12 col-md-7">
            <h3>Edublog</h3>
            <p>Edublog está compuesto por ingenieros en sistemas computacionales apasionados con la tecnología y el desarrollo de software.</p>
        </div>
        <div class="col-12 col-md-5">'
            <img src="../../../assets/team/team.svg" class="pic-ours" alt="">
        </div>
    </div>
    <hr>
    <h2 class="text-center my-5">Integrantes</h2>


    <div class="team">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="cont-img">
                    <img src="../../../assets/team/a.png" class="pic-ours2" alt="">
                </div>

            </div>
            <div class="col-12 col-md-7">
                <h3>Ing. Fernando Mier</h3>
                <p class="text-ours">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus itaque cum, doloremque officiis facere non temporibus fugiat a praesentium ad minus. Provident voluptate necessitatibus libero assumenda, at iste velit id?</p>
            </div>

        </div>
    </div>
    <hr>
    <div class="team">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="cont-img">
                    <img src="../../../assets/team/c.png" class="pic-ours2" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7">
                <h3>Ing. Yom Melzav</h3>
                <p class="text-ours">Independientemente de que sea Ingeniero con todas las formalidades que esto conlleva, quiero decirte querido lector que puedes considerarme un amigo que estará presto a ofrecer su conocimiento y sus experiencias a tu servicio, todo lo
                    expresado en este blog por parte mía lo haré de corazón esperando te sea de utilidad. Me gustaría pedirte querido lector que no olvides mi frase "Ojalá te sea de utilidad" en cada uno de mis escritos en este blog o en el canal de Edututos,
                    y no temas en mostrar tu opinión o tus comentarios sobre mi o sobre el contenido proveniente de mi persona, aquí todos estamos para aprender y mejorar cada día.</p>
            </div>

        </div>
    </div>
    <hr>
    <div class="team">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="cont-img">
                    <img src="../../../assets/team/b.png" class="pic-ours2" alt="">
                </div>

            </div>

            <div class="col-12 col-md-7">
                <h3>Ing. Edrey Salinas</h3>
                <p class="text-ours">Ingeniero en sistemas computacionales apasionado por la tecnología y el ajedrez, en este blog voy a compartir artículos sobre cosas que me hacen feliz esperando poder ayudarte de alguna manera. Siéntete libre de explorar este espacio diseñado
                    para ti.</p>
            </div>
        </div>


    </div>
</div>

<app-footer></app-footer>