<div class="container-items">
    <div class="items">
        <div class="container-text">
            <div class="items-cantidad">
                <p>Suscriptores</p>
                <p>{{count_suscribete}}</p>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="container-text">
            <div class="items-cantidad">
                <p>Artículos</p>
                <p>{{count_publication}}</p>
            </div>
        </div>

    </div>
    <div class="items">
        <div class="container-text">
            <div class="items-cantidad">
                <p>Contactos</p>
                <p>{{count_contact}}</p>
            </div>
        </div>

    </div>
</div>