<app-navbar *ngIf="navbar"></app-navbar>
<div class="container mt-5 pb-5">
    <h1 class="text-center my-5">Contacto</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>¿Necesitas algún artículo?</h2>
            <p class="text-contact">Nos gustará poder ayudarte, deja tu mensaje y espera nuestra aportación.</p>

        </div>
        <div class="col-12 col-md-6">
            <form #formcontacto [formGroup]="formularioContacto" (submit)="contactoFormulario()">
                <div class="form-group my-1">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" formControlName="name">
                    <span *ngIf="name && name.invalid && name.touched" class="text-danger">Ingrese nombre</span>
                </div>
                <div class="form-group my-1">
                    <label for="">Correo</label>
                    <input type="email" class="form-control" formControlName="email">
                    <span *ngIf="email && email.invalid && email.touched" class="text-danger">Ingrese correo</span>
                </div>
                <div class="form-group my-1">
                    <label for="">Asunto</label>
                    <input type="text" class="form-control" formControlName="subject">
                    <span *ngIf="subject && subject.invalid && subject.touched" class="text-danger">Ingrese asunto</span>
                </div>
                <div class="form-group my-1">
                    <label for="">Mensaje</label>
                    <textarea class="form-control" cols="30" rows="10" formControlName="message"></textarea>
                    <span *ngIf="message && message.invalid && message.touched" class="text-danger">Ingrese mensaje</span>
                </div>

                <app-spinkit [hidden]="spinnerActivo"></app-spinkit>


                <div class="form-group text-center my-5">
                    <input type="submit" class="btn btn-primary" value="Enviar">
                </div>

            </form>

        </div>
    </div>
</div>
<app-footer></app-footer>